body {
    background-image: url("../Assets/account.jpg");
}

.startContainer {
    background-color: #F5F5F5;
    width: 60em;
    height: 22em !important;
    border-radius: 7px !important;
    /* align-items: center;
  justify-content: right; */
    padding: 20px;
    margin-right: 100px;

}

.nav {
    position: sticky;
    background-color: #FFFFFF;
}