.create-academy-centre-container {
  margin-top:   2rem;
}

.create-academy-centre-form {
  display: flex;
  flex-direction: column;
  gap:   1rem;
  max-width:   600px;
  margin:   0 auto;
}

.create-academy-centre-form > * {
  width:   100%;
}