@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-1920px);
  }
}
body {
  overflow: hidden !important;
  font-family: "DM Serif Display" !important;
  margin: 0 !important;
  padding: 0 !important;
}
.home-root {
  background: url("https://res.cloudinary.com/daybgq5gz/image/upload/v1708599350/Untitled_design_5_mwzebm.png");
  height: 100vh;
  background-size: cover;
  width: 3840px;
  margin: 0;
  padding: 0;
  background-repeat: repeat-x;
  animation: slide 100s linear infinite;
  position: absolute;
}
.homeroot2 {
  overflow: hidden !important;
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #daa520 0%,
    #000000 29%,
    #000000 67%,
    #daa520 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 50px !important;
  /* -webkit-font-smoothing: subpixel-antialiased; */
  font-family: "Micro 5", serif !important;
  font-weight: bolder;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.serif {
  font-family: "DM Serif Display", serif !important;
  -webkit-font-smoothing: subpixel-antialiased;
}
.profile-image-container {
  margin-left: 480px !important;
}

.profile-image {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the area without stretching */
}

.home-image-container {
  margin-left: 440px !important;
  margin-right: 0px;
}

.home-image {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the area without stretching */
}
a,
a.visited {
  text-decoration: none !important;
  color: inherit !important;;
}
.nav-list-item:hover {
  background-color: #daa520 !important;
  color: white;
}
